* {
    color: white;
    font-family: "Roboto", sans-serif;
}

.navBar {
    width: 200px;
    height: 100lvh;
    padding: 8px;
    padding-bottom: 0;
    border-right: 1px solid hsl(0, 0%, 17%);
}

.header {
    padding: 8px;
    padding-top: 24px;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}